{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="requestData()" style="background-color: #444444;color: lightgray;">
    <div style="position: relative;float: left;">
        <form>
          <label for="reg_login">Login:</label><br>
          <input type="text" id="reg_login" name="reg_login" value=""><br>
          <label for="reg_passwd">Password:</label><br>
          <input type="text" id="reg_passwd" name="reg_passwd" value=""><br>
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name" value=""><br>
          <label for="surname">Surname:</label><br>
          <input type="text" id="surname" name="surname" value=""><br><br>
          <input type="button" value="Add user" onclick="addPerson()"><br><br>
          <label for="removeId">ID:</label><br>
          <input type="number" id="removeId" name="removeId" value="">
          <input type="button" value="Delete" onclick="clearTable()">
        </form>
        <br><br>
        <p>RESPONSE:</p>
        <div id="responseBox"></div>
    </div>
    <div style="position: relative;float: left;margin-left: 50px;">
        <p>Sign in:</p>
        <form>
          <label for="sin_login">Login:</label><br>
          <input type="text" id="sin_login" name="sin_login" value=""><br>
          <label for="sin_passwd">Password:</label><br>
          <input type="text" id="sin_passwd" name="sin_passwd" value=""><br><br>
          <input type="button" value="Sign in" onclick="signIn()">
        </form>
        <br>
        <input type="button" value="Check login status" onclick="checkLoginStatus()">
        <div id="accountStatus"></div>
    </div>
    <div style="position: relative;float: left;margin-left: 50px;">
        <p>Your tables:</p>
        <input type="button" value="Refresh" onclick="refresh()">
        <div id="accountTables"></div>
    </div>
    <script type="text/javascript" src="{% static 'webApps/js/app.js' %}"></script>
</body>
</html>