{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="requestData()" style="background-color: #444444;color: lightgray;">
    <div style="position: relative;float: left;">
        <form>
          <label for="reg_login">Login:</label><br>
          <input type="text" id="reg_login" name="reg_login" value=""><br>
          <label for="reg_passwd">Password:</label><br>
          <input type="text" id="reg_passwd" name="reg_passwd" value=""><br>
          <label for="name">Name:</label><br>
          <input type="text" id="name" name="name" value=""><br>
          <label for="surname">Surname:</label><br>
          <input type="text" id="surname" name="surname" value=""><br><br>
          <input type="button" value="Add user" onclick="addPerson()"><br><br>
          <label for="removeId">ID:</label><br>
          <input type="number" id="removeId" name="removeId" value="">
          <input type="button" value="Delete" onclick="clearTable()">
        </form>
        <br><br>
        <p>Users:</p>
        <div id="responseBox"></div>
    </div>
    <div style="position: relative;float: left;margin-left: 50px;">
        <p>Sign in:</p>
        <form action="" method="post">
            {% csrf_token %}
          <label for="sin_login">Login:</label><br>
          <input type="text" id="sin_login" name="sin_login" value=""><br>
          <label for="sin_passwd">Password:</label><br>
          <input type="text" id="sin_passwd" name="sin_passwd" value=""><br><br>
          <input type="button" value="Sign in" onclick="signIn()">
          <input type="button" value="Sign out" onclick="signOut()">
        </form>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <input type="button" value="Check login status" onclick="checkLoginStatus()">
        </form>
        <div id="accountStatus"></div>
    </div>
    <div style="position: relative;float: left;margin-left: 50px;">
        <p>Add table:</p>
        <form action="" method="post">
            {% csrf_token %}
              <label for="table_name">Name:</label><br>
              <input type="text" id="table_name" name="table_name" value=""><br><br>
              <label for="table_description">Description:</label><br>
              <input type="text" id="table_description" name="table_description" value=""><br><br>
              <label for="table_access">Shared with(UID):</label><br>
              <input type="text" id="table_access" name="table_access" value=""><br><br>
            <input type="button" value="Add table" onclick="addTable()">
        </form>
        <p>Your tables:</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="button" value="Refresh" onclick="refresh()">
        </form>
        <div id="accountTables"></div>
    </div>
    <script type="text/javascript" src="{% static 'webApps/js/app.js' %}"></script>
</body>
</html>